<!-- left sidebar -->
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <!-- <li class="active"><span class="sr-only">(current)</span></li> -->
    <li>Category 1</li>
    <li>Category 2</li>

  </ul>
  <ul class="nav nav-sidebar">
    <li>Category 3</li>
  </ul>
  <ul class="nav nav-sidebar">
    <li>Category 4</li>
  </ul>
</div><!-- end left sidebar -->
